#asif{
    color: rgb(255, 210, 7);
}
.row{
    height: 33%;
    max-width: 100%;
    padding: 10px;
}
.full{
    max-width: 100%;
    max-height: 100%;
}
.a{
    height: 100%;
    width: 50%;
    padding: 20px;
}
